/**
  通用css样式
 */
@import "variable";
html, body{
  height: 100%;
}
.text-xl{
  font-size: $text-xl;
}
.text-lg{
  font-size: $text-lg;
}
.text-md{
  font-size: $text-md;
}
.text-sm{
  font-size: $text-sm;
}
.text-xs{
  font-size: $text-xs;
}
.text-right{
  text-align: right;
}
.text-left{
  text-align: left;
}
.text-center{
  text-align: center;
}
.pull-left{
  float: left;
}
.pull-right{
  float: right;
}
.cursor-pointer{
  cursor: pointer;
}
